.containerWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 20px;
    justify-content: center;
    margin: 0 auto;
}

.containerWrapper a {
    text-decoration: none;
}

.paperContainer {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    height: 300px;
}

.paperContainer:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.paperContainer h3 {
    color: var(--black);
}

.paperContainer p {
    color: var(--black);
}
