:root {
  --contentMaxWidth: 1000px;
  /*--contentMaxWidth: 1440px;*/
  --backgroundDark: #181817;
  --backgroundLight: #f5f5f5;
  --black: #000000;
  --gray7: #fafafa;
  --gray6: #262626;
  --gray5: #666666;
  --gray4: #969696;
  --gray3: #bcbcbc;
  --gray2: #e0e0e0;
  --gray1: #f5f5f5;
  --white: #ffffff;
  --blue: #1672cd;
  --blueDarker: #33587d;
  --blueLighter: #40a0ff;
  --purple: #61367d;
  --darkPurple: #3c2455;
  --lightPurple: #b51bdc;
  --buttonTertiaryDefault: rgba(255, 104, 64, 0.2);
  --buttonTertiaryHover: rgba(255, 104, 64, 0.4);
  --warningMessage: #FFA500F;

  --xxxs: 12px;
  --xxs: 16px;
  --xs: 18px;
  --s: 20px;
  --m: 22px;
  --l: 24px;
  --xl: 26px;
  --xxl: 48px;
  --xxxl: 96px;

  --boldBlack: 900;
  --extraBold: 800;
  --bold: 700;
  --semiBold: 600;
  --medium: 500;
  --regular: 400;
  --light: 30;

  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 25px;

  @media (min-width: 964px) {
    font-size: 50px;
  }
}

p {
  font-weight: lighter;
  font-size: 17px;
  text-align: left;

  @media (min-width: 964px) {
    font-size: 22px;
  }
}
