:root {
    --contentMaxWidth: 1000px;
    /*--contentMaxWidth: 1440px;*/
    --backgroundDark: #181817;
    --backgroundLight: #F5F5F5;
    --black: #000000;
    --gray7: #fafafa;
    --gray6: #262626;
    --gray5: #666666;
    --gray4: #969696;
    --gray3: #BCBCBC;
    --gray2: #E0E0E0;
    --gray1: #F5F5F5;
    --white: #FFFFFF;
    --orange: #FF68;
    --orangeDarker: #E45A35;
    --blue: #1672CD;
    --blueDarker: #33587D;
    --blueLighter: #40A0FF;
    --purple: #61367D;
    --darkPurple: #3C2455;
    --lightPurple: #B51BDC;
    --buttonTertiaryDefault: rgba(255, 104, 64, 0.2);
    --buttonTertiaryHover: rgba(255, 104, 64, 0.4);
    --warningMessage: #FFA500F;

    --xxxs: 12px;
    --xxs: 16px;
    --xs: 18px;
    --s: 20px;
    --m: 22px;
    --l: 24px;
    --xl: 26px;
    --xxl: 48px;
    --xxxl: 96px;

    --boldBlack: 900;
    --extraBold: 800;
    --bold: 700;
    --semiBold: 600;
    --medium: 500;
    --regular: 400;
    --light: 30;

    font-family: 'Noto Sans', sans-serif;
}